# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientitst include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| RStudio |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

List popular languages for Data Science
* SQL
* Pyrthon
* R

## Author
Nancy Granoff